
nav {
    background-color: #FFDC19;

    height: 76px;
    width: auto;
}
nav > a > img {
    float: left;
    height: 100px;
}

footer {
    height: 70px;
    background-color: #FFDC19;
    width: auto;
}
#Copyright_color {
    color: gray;
}
.container {

    padding-right: 0px;
    padding-left: 0px;
}
#content {
    background-color: #FFFA7C;
}
#myCarousel {
    display: inline-block; width: 100%;
}
.carousel-caption {
    font-size: 24px;
    color: #337ab7;
}
.carousel-caption h4 {
    font-size: 32px;
}
#myCarousel .item {
    height: 450px;
}
#slide1 {
    background-color: #FFDC19;
}
#slide2 {
    background-color: #FFDC19;
}

#slide3 {
    background-color: #FFDC19;
}


    background-color: #FFFA7C;
    margin-top: 0px;
    color: #337ab7;
}
#Schema_schema{
 width: 1010px;
}
#klass_schema{
    margin-left: 0px;
    height: 30px;
    width: 150px;
    margin-top: 3px;
   padding-left: 10px;
   color: #337ab7;
}
#NavKnappar {
 margin-right: auto;
 margin-left: auto;
}

#NavKnappar > li{
    margin-right: 150px;
}