
nav {
    background-color: #FFDC19;

    height: 76px;
    width: auto;
}
nav > a > img {
    float: left;
    height: 100px;
}

footer {
    height: 70px;
    background-color: #FFDC19;
    width: auto;
}
#Copyright_color {
    color: gray;
}
.container {
    box-shadow: 0px 3px 5px rgba(100, 100, 100, 1.2);
    padding-right: 0px;
    padding-left: 0px;
}
#content {
    height: 600px;
    background-color: white;
    padding: 30px;
}
#myCarousel {
    display: inline-block; width: 100%;
    margin-top: 40px;
}
.carousel-caption {
    font-size: 24px;
}
.carousel-caption h4 {
    font-size: 32px;
}
#myCarousel .item {
    height: 450px;
}
#slide1 {
    background-color: #FFDC19;
}
#slide2 {
    background-color: #FFDC19;
}

#slide3 {
    background-color: #FFDC19;
}

background: url('') top center no-repeat;







#NavKnappar {
 margin-right: auto;
 margin-left: auto;
}

